body {
background-color: #0a0a0a;
color: white;
font-family: 'Poppins', sans-serif;
text-align: center;
}
.imagenes img {
width: 200px;
margin: 10px;
border-radius: 10px;
cursor: pointer;
transition: 0.3s;
}
.imagenes img:hover {
transform: scale(1.1);
}