body {
background-color: #101010;
color: white;
text-align: center;
font-family: 'Roboto', sans-serif;
}
button {
background-color: #ff6600;
color: white;
padding: 10px 15px;
border: none;
border-radius: 5px;
margin: 5px;
}